<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <main>
    <form class="form" (ngSubmit)="onRegister()" #myForm="ngForm">

      <label for="name"><span>Nombre</span></label>
      <p><input type="text" name="name" id="name" autocomplete="name" required #nameInput="ngModel" [(ngModel)]="register.name" /></p>
      <p class="message-error" [class.invalid]="nameInput.invalid">Campo requerido</p>

      <label for="email"><span>Email</span></label>
      <p><input type="email" name="email" id="email" autocomplete="email" required #emailInput="ngModel" [(ngModel)]="register.email" /></p>
      <p class="message-error" [class.invalid]="emailInput.invalid">Campo requerido</p>

      <label for="password"><span>Nombre</span></label>
      <p><input type="password" name="password" id="password" required #passInput="ngModel" [(ngModel)]="register.password" /></p>
      <p class="message-error" [class.invalid]="passInput.invalid">Campo requerido</p>

      <input [disabled]="myForm.invalid" type="submit">

    </form>
  </main>
</body>
</html>
